doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E 2022 by Sean
    link(rel="stylesheet", href=`./style.css`)
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Secular+One&display=swap' rel='stylesheet')

  body
    //h1
    h1 F2E 2022 by Sean

    nav
      a(href="index.html").logo
        span SIGN
        span
      ul.nav-right.fz-20
        li
          a(href="javascript:;") 服務介紹
        li 
          a.sign-btn(href="javascript:;") 簽署文件
        li 
          a(href="javascript:;") 註冊
        li 
          a(href="javascript:;") 登入
    main
      //首頁
      .content
        .main-title
          p.fz-64 隨時隨地都能簽，<br \>SIGNooo幫你省下大筆時間！
        ul.process.fz-24
          li 建立簽名檔
          li 上傳文件
          li 簽署文件
        .sign-now
          p.fz-20 只需三步驟，立即簽署您的文件！
          .sign-btn.button.fz-24 SIGN NOOOW
        .flow-bg
          .logo.green3.flow-logo
            span SIGN
            span
          .logo.green2.flow-logo
            span SIGN
            span
          .logo.green1.flow-logo
            span
          p.letter.fz-64 S
          p.letter.fz-64 I
          p.letter.fz-64 G
          p.letter.fz-64 N
          p.letter.fz-64 S
          p.letter.fz-64 I
          p.letter.fz-64 G
          p.letter.fz-64 N
      
      //上傳區塊
      .upload

        //第一步 選擇檔案
        .process-block.radius-block
          .exit
          ul.process.fz-24
            li 建立簽名檔
            li 上傳文件
            li 簽署文件
          .upload-btn.fz-32 建立簽名檔

        //第二步 建立簽名  
        .new-sign.radius-block
          p.fz-20 新增新的簽名檔
          .exit.exit-sign
          .block.fz-20
            .logo
              span SIGN
              span
            .canvas-sign
              canvas(id="canvas" width="500" height="250" )
              img.show-img(alt="" width="500" height="250")
            .btn-group
              .save 新增簽名
              .clear 清除簽名
              a(href="pdf.html").next-step 確認簽名 前往上傳PDF

script(defer src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
crossorigin="anonymous")
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Observer.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/MotionPathPlugin.min.js')
script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js')
script(defer src="https://unpkg.com/fabric@latest/dist/fabric.js")
script(defer src="https://mozilla.github.io/pdf.js/build/pdf.js")
script(defer src="canvas.js")
script(defer src="app.js")